@theme {
  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-on-primary);
  --color-primary-container: var(--color-primary-container);
  --color-on-primary-container: var(--color-on-primary-container);
  --color-primary-fixed: var(--color-primary-fixed);
  --color-primary-fixed-dim: var(--color-primary-fixed-dim);
  --color-on-primary-fixed: var(--color-on-primary-fixed);
  --color-on-primary-fixed-variant: var(--color-on-primary-fixed-variant);

  --color-secondary: var(--color-secondary);
  --color-on-secondary: var(--color-on-secondary);
  --color-secondary-container: var(--color-secondary-container);
  --color-on-secondary-container: var(--color-on-secondary-container);
  --color-secondary-fixed: var(--color-secondary-fixed);
  --color-secondary-fixed-dim: var(--color-secondary-fixed-dim);
  --color-on-secondary-fixed: var(--color-on-secondary-fixed);
  --color-on-secondary-fixed-variant: var(--color-on-secondary-fixed-variant);

  --color-tertiary: var(--color-tertiary);
  --color-on-tertiary: var(--color-on-tertiary);
  --color-tertiary-container: var(--color-tertiary-container);
  --color-on-tertiary-container: var(--color-on-tertiary-container);
  --color-tertiary-fixed: var(--color-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--color-tertiary-fixed-dim);
  --color-on-tertiary-fixed: var(--color-on-tertiary-fixed);
  --color-on-tertiary-fixed-variant: var(--color-on-tertiary-fixed-variant);

  --color-error: var(--color-error);
  --color-on-error: var(--color-on-error);
  --color-error-container: var(--color-error-container);
  --color-on-error-container: var(--color-on-error-container);

  --color-surface: var(--color-surface);
  --color-surface-dim: var(--color-surface-dim);
  --color-surface-bright: var(--color-surface-bright);
  --color-surface-container-lowest: var(--color-surface-container-lowest);
  --color-surface-container-low: var(--color-surface-container-low);
  --color-surface-container: var(--color-surface-container);
  --color-surface-container-high: var(--color-surface-container-high);
  --color-surface-container-highest: var(--color-surface-container-highest);
  --color-on-surface: var(--color-on-surface);
  --color-on-surface-variant: var(--color-on-surface-variant);
  --color-inverse-surface: var(--color-inverse-surface);
  --color-inverse-on-surface: var(--color-inverse-on-surface);
  --color-inverse-primary: var(--color-inverse-primary);
  --color-surface-tint: var(--color-surface-tint);
  --color-surface-variant: var(--color-surface-variant);

  --color-outline: var(--color-outline);
  --color-outline-variant: var(--color-outline-variant);
  --color-outline-strong: var(--color-outline-strong);

  --color-background: var(--color-background);
  --color-on-background: var(--color-on-background);

  --color-google-blue: var(--color-google-blue);
  --color-google-red: var(--color-google-red);
  --color-google-yellow: var(--color-google-yellow);
  --color-google-green: var(--color-google-green);

  --shadow-1: var(--shadow-1);
  --shadow-2: var(--shadow-2);
  --shadow-3: var(--shadow-3);
  --shadow-4: var(--shadow-4);
  --shadow-5: var(--shadow-5);

  --radius-none: var(--radius-none);
  --radius-xs: var(--radius-xs);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);
  --radius-3xl: var(--radius-3xl);
  --radius-full: var(--radius-full);

  --animate-duration-short-1: var(--duration-short-1);
  --animate-duration-short-2: var(--duration-short-2);
  --animate-duration-short-3: var(--duration-short-3);
  --animate-duration-medium-1: var(--duration-medium-1);
  --animate-duration-medium-2: var(--duration-medium-2);
  --animate-duration-medium-3: var(--duration-medium-3);
  --animate-duration-long-1: var(--duration-long-1);
  --animate-duration-long-2: var(--duration-long-2);
  --animate-duration-long-3: var(--duration-long-3);
  --animate-duration-long-4: var(--duration-long-4);

  --animate-ease-linear: var(--easing-linear);
  --animate-ease-standard: var(--easing-standard);
  --animate-ease-standard-decelerate: var(--easing-standard-decelerate);
  --animate-ease-standard-accelerate: var(--easing-standard-accelerate);
  --animate-ease-emphasized: var(--easing-emphasized);
  --animate-ease-emphasized-decelerate: var(--easing-emphasized-decelerate);
  --animate-ease-emphasized-accelerate: var(--easing-emphasized-accelerate);
}
