ASOL_ANDROID_PACKAGE_NAME=hgh.asol.app
GOOGLE_PLAY_JSON_KEY_FILE=assets/google-play/asole-73f1f-dc494a4b5159.json
GOOGLE_PLAY_SERVICE_ACCOUNT_EMAIL=fastlane@asole-73f1f.iam.gserviceaccount.com
GOOGLE_PLAY_SERVICE_ACCOUNT_UNIQUE_ID=111043929087553456734
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON_BASE64=
GOOGLE_PLAY_SERVICE_ACCOUNT_PRIVATE_KEY_BASE64=
GOOGLE_PLAY_SERVICE_ACCOUNT_PROJECT_ID=
GOOGLE_PLAY_SERVICE_ACCOUNT_PRIVATE_KEY_ID=
GOOGLE_PLAY_SERVICE_ACCOUNT_CLIENT_EMAIL=
GOOGLE_PLAY_SERVICE_ACCOUNT_CLIENT_ID=
GOOGLE_PLAY_SERVICE_ACCOUNT_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_PLAY_SERVICE_ACCOUNT_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_PLAY_SERVICE_ACCOUNT_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_PLAY_SERVICE_ACCOUNT_CLIENT_X509_CERT_URL=
GOOGLE_PLAY_SERVICE_ACCOUNT_UNIVERSE_DOMAIN=googleapis.com
GOOGLE_PLAY_TRACK=internal
ASOL_ANDROID_KEYSTORE_FILE=assets/google-play/k.jks
ASOL_ANDROID_KEYSTORE_PASSWORD=
ASOL_ANDROID_KEY_ALIAS=
ASOL_ANDROID_KEY_PASSWORD=
ASOL_IOS_BUNDLE_ID=hgh.asol.app
ASOL_IOS_TEAM_ID=
ASOL_IOS_EXPORT_METHOD=app-store
FASTLANE_USER=
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=
APP_STORE_CONNECT_API_KEY_KEY_ID=
APP_STORE_CONNECT_API_KEY_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_KEY_FILEPATH=
