[Desktop Entry]
Type=Application
Name=bids.stories@gmail.com
Exec=/home/hesham/gova/test_profile/bids.stories@gmail.com.sh
Terminal=false
Categories=Development;
