[Desktop Entry]
Type=Application
Name=heshsamhassan779@gmail.com
Exec=/home/hesham/gova/test_profile/heshsamhassan779@gmail.com.sh
Terminal=false
Categories=Development;
