[Desktop Entry]
Type=Application
Name=heshamgaber692@gmail.com
Exec=/home/hesham/gova/test_profile/heshamgaber692@gmail.com.sh
Terminal=false
Categories=Development;
