[Desktop Entry]
Type=Application
Name=hesham.gaber@gmail.com
Exec=/home/hesham/gova/test_profile/hesham.gaber@gmail.com.sh
Terminal=false
Categories=Development;
