[Desktop Entry]
Type=Application
Name=hesham10125@gmail.com
Exec=/home/hesham/gova/test_profile/hesham10125@gmail.com.sh
Terminal=false
Categories=Development;
