[Desktop Entry]
Type=Application
Name=print.code.1000@gmail.com
Exec=/home/hesham/gova/test_profile/print.code.1000@gmail.com.sh
Terminal=false
Categories=Development;
