[Desktop Entry]
Type=Application
Name=tenderx.engineer100@gmail.com
Exec=/home/hesham/gova/test_profile/tenderx.engineer100@gmail.com.sh
Terminal=false
Categories=Development;
